.spreadsheet {
  &:focus {
    outline: none;
  }
}

.spreadsheet__row {
  display: flex;
  user-select: none;
}

.spreadsheet__cell {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  width: 50px;
  flex: 1;
  padding: 0 1px;

  &:last-child {
    border-right: 1px solid #999;
  }
}

.spreadsheet__row:last-child {
  .spreadsheet__cell {
    border-bottom: 1px solid #999;
  }
}

.spreadsheet__cell--header {
  background-color: #ddd;
  text-align: center;
}

.spreadsheet__cell--number {
  text-align: right;
}

.spreadsheet__cell--selected {
  background-color: #ccf;
}
